body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
}
h5{
    font-size: 11px;
}
h6{
    font-size: 10px;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
}
div{
    width: 210px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 356px;
    min-height: 300px;
    border: 2px solid;
    box-shadow: 0 0 50px black;
}
section {
    background-color: rgb(59, 198, 245);
    width: 150px;
    height: 75px;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.daysOfWeek{
    background-image: url(daysofweek.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}